<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <link href="css/hover-min.css" rel="stylesheet" />
    <link rel="stylesheet" href="CSS/cvtemplates.css" />

    <title>Templates</title>
  </head>
  <body>
    <header>
      <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CreateCV</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          id="menunav"
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home <span class="sr-only"></span
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="btn-group">
      <button id="all">All</button>
      <button id="disponible">Disponible</button>
    </div>
    <div style="display: none" class="all">
      <div class="templates">
        <div class="card">
          <img src="img/cv4.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="#" class="btn">Choose this template</a>
          </div>
        </div>
        <div id="Temp1" class="card">
          <img src="img/cv5.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="#" class="btn">Choose this template</a>
          </div>
        </div>
        <div id="Temp2" class="card">
          <img src="img/cv6.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="#" class="btn">Choose this template</a>
          </div>
        </div>
        <div id="Temp2" class="card">
          <img src="img/cv7.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="#" class="btn">Choose this template</a>
          </div>
        </div>
        <div id="Temp2" class="card">
          <img src="img/cv8.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="#" class="btn">Choose this template</a>
          </div>
        </div>
        <div id="Temp2" class="card">
          <img src="img/cv9.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="#" class="btn">Choose this template</a>
          </div>
        </div>

        <div id="Temp2" class="card">
          <img src="img/cv10.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="#" class="btn">Choose this template</a>
          </div>
        </div>
      </div>
    </div>
    <div style="display: none" class="disponible">
      <div class="templates">
        <div class="card">
          <img src="" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="/cv1" class="btn">Choose this template</a>
          </div>
        </div>
        <div id="Temp1" class="card">
          <img src="img/cvtemplate2.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="/cv2" class="btn">Choose this template</a>
          </div>
        </div>
        <div id="Temp2" class="card">
          <img src="img/cvtemplate3.PNG" class="card-img-top" alt="..." />
          <div class="card-body">
            <button id="uno">Learn More</button>
            <a href="createcv3.html" class="btn">Choose this template</a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="js/template.js"></script>
  </body>
</html>
